@page "/about"
@inject HttpClient Http


<div class="card">
    <div class="card-header">
        <h4>Über den MeetUp-Planner</h4>
    </div>
    <div class="card-body">
        <p>
            Diese kleine Anwendung habe ich in den "Corona"-Zeiten entwickelt, damit Radausfahrten so organisiert werden können, dass
            die Teilnehmer sich registrieren können und alle Kontakte nachvollziehbar sind.
        </p>
        <p>
            Folgende Ziele habe ich mir für die App gesetzt:
            <ul>
                <li>
                    Einfache Benutzung ohne komplizierte Registrierungsprozesse. Jeder ist willkommen - um Termine zu sehen oder zu erstellen wird
                    lediglich ein "Schlüsselwort" vereinbart, das separat kommuniziert wird.
                </li>
                <li>
                    Die Web-Anwendung ist "responsive", d.h. kann auf PC und SmartPhones mit allen modernen Browsern genutzt werden.
                </li>
                <li>
                    Minimaler administrativer Aufwand: Alle Termine mit ihren Teilnehmern werden automatisch nach 4 Wochen gelöscht.
                </li>
                <li>
                    Es können "private" Termine erstellt werden. Normalerweise sind die Termine für alle, die das "Schlüsselwort" kennen, zugänglich und
                    einsehbar. Es ist aber auch möglich, Termine mit einem weiteren Schlüsselwort zu versehen, um den Termin nur für enge Freunde sichtbar 
                    und "buchbar" zu machen. Trotzdem bleibt die Nachverfolgbarkeit der Kontakte gegeben.
                </li>
            </ul>
        </p>
        <p>
            Und nebenbei oder vielleicht sogar vor allem möchte ich hiermit eine neue Technik ausprobieren: <a href="https://blazor.net" target="_blank">Blazor ...</a>
            Die Anwendung ist übrigens als Open Source auf <a href="https://github.com/rbrands/MeetUpPlanner" target="_blank">GitHub öffentlich</a> zugänglich. 
        </p>
        <p>
            Verbesserungsvorschläge oder funktioniert etwas nicht? Am besten einfach e-mail an mail@robert-brands.com
        </p>
        <p>
            Mehr zum MeetUpPlanner unter <a href="https://www.meetupplanner.de" target="_blank" title="www.meetupplanner.de">https://www.meetupplanner.de</a>
        </p>
        <p class="bg-light font-italic">
            Versionen: Client - @clientVersion / Server - @serverVersion / Functions - @functionsVersion
        </p>
    </div>
    <div class="card-footer">
        <a href="/dataprotection">Datenschutz</a> | <a href="/impressum">Impressum</a>
    </div>
</div>

@code {
    private const string clientVersion = "2021-02-06";
    private string serverVersion = "tbd";
    private string functionsVersion = "tbd";

    protected override async Task OnInitializedAsync()
    {
        serverVersion = await Http.GetStringAsync("Util/version");
        functionsVersion = await Http.GetStringAsync("Util/functionsVersion");
    }

}
