@page "/dataprotection"

<div class="container">
    <h1>Datenschutzerkl&auml;rung</h1>
    <h2>Datenschutz</h2>
    <p>
        Die Betreiber dieser Seiten nehmen den Schutz Eurer pers&ouml;nlichen Daten sehr ernst.
        Wir behandeln Eure personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.
    </p> <p>
        Für die Anmeldung zu einem Termin/Ausfahrt ist die Angabe des Namens und der E-Mail-Adresse oder Telefonnummer notwendig. Diese Angaben
        werden ausschließlich zur Organisation der Termine benötigt (Einhaltung max. Teilnehmeranzahl), ggf. für Rückfragen oder der Kontaktaufnahme nach Unfällen. Dazu werden
        die Teilnehmerdaten für eine konfigurierbaren Zeitraum (max. 4 Wochen) gespeichert. Alle Termine mit Teilnehmerdaten werden ansonsten automatisch nach dem konfigurierten Zeitraum vollständig gelöscht.
        Ansonsten erfolgt keine Verwendung oder Weitergabe der Daten.
    </p>

    <h2>Cookies</h2>
    <p>
        Die Internetseiten verwenden teilweise sog.Cookies. Cookies richten auf deinem Rechner keinen Schaden an und
        enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
        Cookies sind kleine Textdateien, die auf deinem Rechner abgelegt werden und die dein Browser speichert.
    </p>
    <p>
        Alle von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende deines Besuchs
        automatisch gel&ouml;scht. 
    </p>
    <p>
        Außerdem kannst du bei der Eingabe des Namens und der Tel.-Nr/E-Mail-Adresse angeben, dass diese Angaben im Browser gespeichert werden.
        Das erspart die Eingabe beim nächsten Mal. Die Speicherung dieser Eingabehilfe erfolgt ausschließlich im Browser. Erst bei der Anmeldung zu einem Termin werden deine 
        Kontaktdaten übertragen.
    </p>

    <h2>Server-LogFiles</h2>
    <p>
        Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die dein Browser
        automatisch an uns &uuml;bermittelt. Dies sind:
    </p>
    <ul>
        <li>Browsertyp und Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Uhrzeit der Serveranfrage</li>
    </ul>
    <p>
        Diese Daten können nicht bestimmten Personen zugeordnet werden. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu pr&uuml;fen, wenn uns
        konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.
    </p>
    <h2>SSL-Verschl&uuml;sselung</h2>
    <p>
        Diese Seite nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der &Uuml;bertragung vertraulicher Inhalte
        eine SSL-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennst du daran, dass die Adresszeile des Browsers
        von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem Schloss-Symbol in der Browserzeile.
    </p>
    <p>
        Wenn die SSL Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die du an uns &uuml;bermitteln, nicht von
        Dritten mitgelesen werden.
    </p>
    <p class="text-muted small">Quelle: <a href="https://www.e-recht24.de" target="_blank" title="eRecht24">eRecht24</a></p>
</div>


    @code {

    }
