@page "/dataprotection"

<div class="container">
    <h1>Datenschutzerkl&auml;rung</h1>
    <h2>Datenschutz</h2>
    <p>
        Die Betreiber dieser Seiten nehmen den Schutz Eurer pers&ouml;nlichen Daten sehr ernst.
        Wir behandeln Eure personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.
    </p> <p>
        Für die Anmeldung zu einem Termin/Ausfahrt ist die Angabe des Namens und der E-Mail-Adresse oder Telefonnummer notwendig. Diese Angaben
        werden ausschließlich zur Organisation der Termine benötigt (Einhaltung max. Teilnehmeranzahl) und für die Nachverfolgbarkeit im Falle 
        einer Covid-19 Erkrankung. In diesem Fall können auf Anfrage alle Teilnehmer der letzten 4 Wochen, die mit der betreffenden Person im gleichen Termin
        waren herausgegeben werden. Alle Termine werden ansonsten automatisch nach 4 Wochen gelöscht.
        Ansonsten erfolgt keine Verwendung oder Weitergabe der Daten.
    </p>
    <p>
        Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        m&ouml;glich.
    </p>

    <h2>Cookies</h2>
    <p>
        Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf deinem Rechner keinen Schaden an und
        enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
        Cookies sind kleine Textdateien, die auf deinem Rechner abgelegt werden und die dein Browser speichert.
    </p>
    <p>
        Alle von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende deines Besuchs
        automatisch gel&ouml;scht. 
    </p>
    <p>
        Au0erdem kannst du bei der Eingabe des Namens und der Tel.-Nr/E-Mail-Adresse angeben, dass diese Angaben im Browser gespeichert werden.
        Das erspart die Eingabe beim nächsten Mal. Die Speicherung dieser Eingabehilfe erfolgt ausschließlich im Browser.
    </p>

    <h2>Server-LogFiles</h2>
    <p>
        Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die dein Browser
        automatisch an uns &uuml;bermittelt. Dies sind:
    </p>
    <ul>
        <li>Browsertyp und Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Uhrzeit der Serveranfrage</li>
    </ul>
    <p>
        Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu pr&uuml;fen, wenn uns
        konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.
    </p>
    <h2>SSL-Verschl&uuml;sselung</h2>
    <p>
        Diese Seite nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der &Uuml;bertragung vertraulicher Inhalte
        eine SSL-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennst du daran, dass die Adresszeile des Browsers
        von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem Schloss-Symbol in der Browserzeile.
    </p>
    <p>
        Wenn die SSL Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die du an uns &uuml;bermitteln, nicht von
        Dritten mitgelesen werden.
    </p>
    <p class="text-muted small">Quelle: <a href="https://www.e-recht24.de" target="_blank" title="eRecht24">eRecht24</a></p>
</div>


    @code {

    }
