@page "/export"
@inject HttpClient Http
@inject AppState AppStateStore
@inject NavigationManager NavigationManager
@using MeetUpPlanner.Shared
@using Newtonsoft.Json

<div class="jumbotron">
<h4>Export</h4>
<p>
    Wenn der Fall eingetreten ist, dass jemand positiv auf Covid-19 getestet wurde, braucht er/sie seine Kontakte der letzten Wochen. Dazu bitte den Export per e-mail anfordern oder sofern 
    das Admin-Schlüsselwort bekannt ist, hier direkt ausführen.
</p>
</div>

@code {

}
