@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<footer class="text-muted px-4 fixed-bottom">
    &copy; 2020 - <a href="https://robert-brands.com" target="_blank">robert-brands.com</a>
</footer>
