@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="About" class="ml-md-auto">Über</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
<footer class="text-muted px-4 fixed-bottom">
    &copy; 2020 - robert-brands.com
</footer>
